html, body {
	min-height: 100%;
	background-color: #f5f5f5;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 25px;
}

/*
	CALL LIST
*/
#DataTable td, #DataTable th, #DataTable td {
	border: none !important;
	vertical-align: middle;
}

.avatar {
	float: left;
	margin-right: 10px;
}

.column-search {
	margin-bottom: -5px;
}

.column-search::placeholder {
	font-size: 16px;
	color: #212529 !important;
	font-weight: 700;
}

#DataTable {
	min-width: 800px;
}

#DataTable td:nth-child(1), #DataTable th:nth-child(1),
#DataTable td:nth-child(2), #DataTable th:nth-child(2),
#DataTable td:nth-child(3), #DataTable th:nth-child(3) {
	max-width: 32px !important;
	padding: 5px;
}

#DataTable_wrapper .row .col-sm-12 {
	max-width: 100vw !important;
	overflow-x: auto;
}

/*
	LOGIN FORM
*/
#login {
	display: flex;
	align-items: center;
	text-align: center;
	height: calc(100vh - 100px);
}

.form-signin {
	width: 100%;
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin #btn-signin {
	margin-top: 10px;
}
